doctype html
html
    body
        
        extends menu
        block append content
    
            h1 login 
            h2 #{message}
            
            form(action="/login", method="post")
                input(type="text", name="username", placeholder="username")
                br
                input(type="password", name="password", placeholder="password")
                br
                input(type="submit", value="login")