<div class="row">
	<div class="col-lg-12">
		<h1>Login</h1>
		<h2>{{message}}</h2>

		<form action="/login" method="post">
		    <input type="text" name="username" placeholder="username" class="form-control">
		    <br>
		    <input type="password" name="password" placeholder="password" class="form-control">
		    <br>
		    <button type="submit" class="btn btn-primary">Login</button> <!-- Buttons are easier to style than inputs -->
		</form>
	</div>
</div>