<h1>Login</h1>
<h2>{{message}}</h2>

<form action="/login" method="post">
    <input type="text" name="username" placeholder="username">
    <br>
    <input type="password" name="password" placeholder="password">
    <br>
    <button type="submit">Submit</button> <!-- Buttons are easier to style than inputs -->
</form>