doctype html
html
    body
    
        extends menu
        block append content
        
            h1 welcome! 
            //h2 #{username}
            
            h3 posts:
            
            if data.isUser 
                form(action="/comment", method="post")
                    br
                    textarea(name="content", placeholder="type here...")
                    br
                    input(type="submit", value="comment")
                    
            each comment in data.comments
                p= comment