<h1>Welcome</h1>
<h3> Posts:</h3>
{{#if data.isUser}}
    <form action="/thread" method="post">
        <br>
        <textarea name="content" cols="30" rows="10" placeholder="Enter Comment..."></textarea>
        <br>
        <button type="submit">Submit</button>
    </form>
{{/if}}
<hr>
{{#each data.threads}}
<p>{{this.body}}</p>
<hr>
{{/each}}