<h1>Signup</h1>
<h2>{{message}}</h2>

<form action="/signup" method="post">
    <input type="text" name="username" placeholder="username">
    <br>
    <input type="password" name="password" placeholder="password">
    <br>
    <button type="submit">Submit</button>
</form>